
footer {
    display: block;
}

.logo img {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 10px #111111;
}

.social-media img {
    /*
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    */
    padding: 0 5px;
    filter: drop-shadow(0 5px 5px #111111);
}

header {
    position: sticky;
    top: 0;
    z-index: 200;
}

a {
    position: relative;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: var(--primary-text);
}

.card > a > .card-img {
    top: 0px;
    position: relative;

    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(255,255,255,0.2);
    
    transition: top 0.3s ease-out, transform 0.3s ease-out, filter 0.3s ease-out, outline-style 0.3s ease-out;
}

.card:hover > a > .card-img {
    top: -0.4rem;
    transform: 
        scale( 104% )
        perspective(22rem) 
        rotate3d( 0, 1, 0, calc( var(--mouse-x, 0) *  0.1deg ) )
        rotate3d( 1, 0, 0, calc( var(--mouse-y, 0) * -0.1deg ) );
    z-index: 100;
    filter: drop-shadow(0 0.4rem 14px #111111);

    outline-style: dashed;
}

.card h2 {
    margin: 0;
}
.card p {
    margin: 0 0 1em 0;
}

.subtitle {
    color: rgba(255, 255, 255, 0.4);
}

.card-tag-container {
    padding: 0 1rem;
}

.social-media a {
    min-width: 50px;
    min-height: 50px;
}

.social-media a img {
    height: 50px;
}