
footer {
    display: block;
}

.logo img {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 10px #111111;
}

.social-media img {
    /*
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    */
    padding: 0 5px;
    filter: drop-shadow(0 5px 5px #111111);
}

header {
    position: sticky;
    top: 0;
    z-index: 200;
}

a {
    position: relative;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: var(--primary-text);
}

.card > a > .card-img {
    top: 0px;
    position: relative;

    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(255,255,255,0.2);
    
    transition: top 0.3s ease-out, transform 0.3s ease-out, filter 0.3s ease-out, outline-style 0.3s ease-out;
}

.card:hover > a > .card-img {
    top: -0.4rem;
    transform: 
        scale( 104% )
        perspective(22rem) 
        rotate3d( 0, 1, 0, calc( var(--mouse-x, 0) *  0.1deg ) )
        rotate3d( 1, 0, 0, calc( var(--mouse-y, 0) * -0.1deg ) );
    z-index: 100;
    filter: drop-shadow(0 0.4rem 14px #111111);

    outline-style: dashed;
}

.card h1 {
    margin: 0;
}
.card p {
    margin: 0 0 1em 0;
}

.subtitle {
    color: rgba(255, 255, 255, 0.4);
}

.card-tag-container {
    padding: 0 1rem;
}

.social-media a {
    min-width: 50px;
    min-height: 50px;
}

.social-media a img {
    height: 50px;
}


.hero h2 {
    font-size: 2.0em;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 560px));
}

.auto-resizable-iframe {
    max-width: 560px;
}
  
.auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 60%;
    height: 0px;
}

.auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


.marquee {
    display: flex;
    block-size: var(--marquee-item-height);
    margin-block: var(--marquee-item-height);
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
    );
}

.marquee {
    --marquee-item-width: 300px;
    --marquee-item-height: 200px;
    --marquee-duration: calc( 3s * var(--marquee-items) );
    margin: 0;
}

.marquee__item {
    --marquee-item-offset: max(
        calc(var(--marquee-item-width) * var(--marquee-items) ),
        calc(100% + var(--marquee-item-width))
    );
    --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--n)) * -1);
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-50%);
    animation: marquee-go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
    width: var( --marquee-items-width );
    height: var( --marquee-item-height );
}

@keyframes marquee-go {
    to {  
        inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
}