footer {
    display: block;
}

a {
    position: relative;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: var(--primary-text);
}

.card > a > img {
    top: 0px;
    position: relative;
    transition: top 0.3s ease-out, transform 0.3s ease-out, filter 0.3s ease-out;
}

.card:hover > a > img {
    top: -0.4rem;
    transform: 
        perspective(22rem) 
        rotate3d( 0, 1, 0, calc( var(--mouse-x, 0) *  0.1deg ) )
        rotate3d( 1, 0, 0, calc( var(--mouse-y, 0) * -0.1deg ) );
    z-index: 100;
    filter: drop-shadow(0 0.4rem 14px #111111);
}